.tree-browser {
  overflow: auto;
}
.file-viewer {
  padding-left: 50px;
  overflow: auto;
}
.jstree-custom-folder{
  background-image: url('../imgs/folder.png') !important;
  background-position: 0 !important;
}
.jstree-custom-file {
  background-image: url('../imgs/file.png') !important;
  background-position: 0 !important;
}
